/* HTML Table design */

#dataTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dataTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dataTable tr:nth-child(even){background-color: #d0e3ed;color: black;}

#dataTable tr:hover {background-color: #ddd;}

#dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b7dcf7;
    color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(19, 135, 212);
    color: white;
    text-align: center;
}