<!-- Acknowledgements
Javascript adding data into html table with flask template(jinja2)
https://stackoverflow.com/questions/15164655/generate-html-table-from-2d-javascript-array
https://code.i-harness.com/en/q/aa91ba
http://flask.pocoo.org/docs/1.0/tutorial/templates/

Graph representation in Flask:
https://pythonspot.com/flask-and-great-looking-charts-using-chart-js/
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Sense HAT Data</title>
    <script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-utils.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    
    <script type="text/Javascript" src="{{ url_for('static', filename='humidity.js') }}"></script>
    <script type="text/Javascript" src="{{ url_for('static', filename='temperature.js') }}"></script>
    <script type="text/Javascript" src="{{ url_for('static', filename='pressure.js') }}"></script>
    <script type="text/Javascript" src="{{ url_for('static', filename='discomfort.js') }}"></script>


    {{ moment.include_jquery() }} 
    {{ moment.include_moment() }}
    
    

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}
    </style>
</head>

<body>

    <h1>Sense HAT Environment Data table</h1>

    <h2>Humidity</h2>

    <canvas id="hum_chart" width="600" height="400"></canvas>

    <script type="text/Javascript">

        var barData = {
            labels: [
                {% for row in rows %}
                    '{{ row }}',
                {% endfor %}
            ],
        
            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve: false,
                data: [
                    {% for row in rows %}
                        '{{ hum[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }
    
        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
        // get bar chart canvas
        var mychart = document.getElementById("hum_chart").getContext("2d");
        steps = 10;
        max = 17000;
        // draw bar chart
        var LineChartDemo = new Chart(mychart, {
            type: "line",
            data: barData,
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
            bezierCurve: false,
        });
    </script>

    <h2>Temperature</h2>
    
    <canvas id="temp_chart" width="600" height="400"></canvas>

    <script>
    
        var barData = {
            labels: [
                {% for row in rows %}
                    '{{ row }}',
                {% endfor %}
            ],

            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve: false,
                data: [
                    {% for row in rows %}
                        '{{ temp[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
        // get bar chart canvas
        var mychart = document.getElementById("temp_chart").getContext("2d");
        steps = 10;
        max = 17000;
        // draw bar chart
        var LineChartDemo = new Chart(mychart, {
            type: "line",
            data: barData,
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
            bezierCurve: false,
        });

    </script>
    
    <h2>Pressure</h2>

    <canvas id="press_chart" width="600" height="400"></canvas>

    <script>
        var barData = {
            labels: [
                {% for row in rows %}
                    '{{ row }}',
                {% endfor %}
            ],

            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve: false,
                data: [
                    {% for row in rows %}
                        '{{ press[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
        // get bar chart canvas
        var mychart = document.getElementById("press_chart").getContext("2d");
        steps = 10;
        max = 17000;
        // draw bar chart
        var LineChartDemo = new Chart(mychart, {
            type: "line",
            data: barData,
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
            bezierCurve: false,
        });
    
    </script>

    <h2>Discomfort</h2>
    
    <canvas id="dis_chart" width="600" height="400"></canvas>
    
    <script>
        var barData = {
            labels: [
                {% for row in rows %}
                '{{ row }}',
                {% endfor %}
            ],

            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve: false,
                data: [
                    {% for row in rows %}
                        '{{ dis[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
        // get bar chart canvas
        var mychart = document.getElementById("dis_chart").getContext("2d");
        steps = 10;
        max = 17000;
        // draw bar chart
        var LineChartDemo = new Chart(mychart, {
            type: "line",
            data: barData,
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
            bezierCurve: false,
        });    
    
    </script>

    <h2>Sense HAT Data Table</h2>
    
    <table id="dataTable">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Humidity</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Discomfort</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <script>
                var targetTable = document.getElementById("dataTable");
                var tableRow = document.createElement('tr');

                var timestamp = document.createElement('td');
                var hum = document.createElement('td');
                var temp = document.createElement('td');
                var press = document.createElement('td');
                var discomfort = document.createElement('td');
                
                var a = '{{ row }}';
                var b = '{{ hum[loop.index0] }}';
                var c = '{{ temp[loop.index0] }}';
                var d = '{{ press[loop.index0] }}';
                var e = '{{ dis[loop.index0] }}';
                
                timestamp.appendChild(document.createTextNode(a));
                hum.appendChild(document.createTextNode(b));
                temp.appendChild(document.createTextNode(c));
                press.appendChild(document.createTextNode(d));
                discomfort.appendChild(document.createTextNode(e));

                tableRow.appendChild(timestamp);
                tableRow.appendChild(hum);
                tableRow.appendChild(temp);
                tableRow.appendChild(press);
                tableRow.appendChild(discomfort);

                targetTable.appendChild(tableRow);

            </script> 
            {% endfor %}
        </tbody>
    </table>

</body>

</html>