<!-- Acknowledgements
Javascript adding data into html table with flask template(jinja2)
https://stackoverflow.com/questions/15164655/generate-html-table-from-2d-javascript-array
https://code.i-harness.com/en/q/aa91ba
http://flask.pocoo.org/docs/1.0/tutorial/templates/

Graph representation in Flask:
https://pythonspot.com/flask-and-great-looking-charts-using-chart-js/
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Sense HAT Data</title>

    <!-- Load external javascript libraries (CDN)-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-utils.js"></script>
    <script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script type="text/Javascript" src="{{ url_for('static', filename='draw_chart.js') }}"></script>

    {{ moment.include_jquery() }} 
    {{ moment.include_moment() }}

</head>

<body>

    <h1 style="color:dodgerblue;text-align: center">Raspberry Pi Environment Data</h1>

    <!-- Draw line graphs for humidity, temperature, pressure, and discomfort -->
    <canvas id="hum_chart" width="600" height="400"></canvas>

    <script type="text/Javascript">

        var barData = {
            labels: [
                {% for row in rows %}
                    '{{ row }}',
                {% endfor %}
            ],
        
            datasets: [{
                label: "Humidity",
                borderColor: "#8e5ea2",
                fill: false,
                data: [
                    {% for row in rows %}
                        '{{ hum[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        drawChart("hum_chart", "Humidity");
        
    </script>
    
    <canvas id="temp_chart" width="600" height="400"></canvas><br/><br/>

    <script>
    
        var barData = {
            labels: [
                {% for row in rows %}
                    '{{ row }}',
                {% endfor %}
            ],

            datasets: [{
                label: "Temperature",
                borderColor: "#3e95cd",
                fill: false,
                data: [
                    {% for row in rows %}
                        '{{ temp[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        drawChart("temp_chart", "Temperature");

    </script>

    <canvas id="press_chart" width="600" height="400"></canvas><br/><br/>

    <script>
        var barData = {
            labels: [
                {% for row in rows %}
                    '{{ row }}',
                {% endfor %}
            ],

            datasets: [{
                label: "Pressure",
                borderColor: "#3cba9f",
                fill: false,
                data: [
                    {% for row in rows %}
                        '{{ press[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        drawChart("press_chart", "Pressure");
    
    </script>
    
    <canvas id="dis_chart" width="600" height="400"></canvas><br/><br/>
    
    <script>
        var barData = {
            labels: [
                {% for row in rows %}
                '{{ row }}',
                {% endfor %}
            ],

            datasets: [{
                label: "Discomfort",
                borderColor: "#e8c3b9",
                fill: false,
                data: [
                    {% for row in rows %}
                        '{{ dis[loop.index0] }}',
                    {% endfor %}
                ]
            }]
        }

        drawChart("dis_chart", "Discomfort");
    
    </script>

    <h2>Sense HAT Data Table</h2>
    
    <!-- Display data in a table -->
    <table id="dataTable">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Humidity</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Discomfort</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <script>
                var targetTable = document.getElementById("dataTable");
                var tableRow = document.createElement('tr');

                var timestamp = document.createElement('td');
                var hum = document.createElement('td');
                var temp = document.createElement('td');
                var press = document.createElement('td');
                var discomfort = document.createElement('td');
                
                var timeData = '{{ row }}';
                var humData = '{{ hum[loop.index0] }}';
                var tempData = '{{ temp[loop.index0] }}';
                var pressData = '{{ press[loop.index0] }}';
                var disData = '{{ dis[loop.index0] }}';
                
                timestamp.appendChild(document.createTextNode(timeData));
                hum.appendChild(document.createTextNode(humData));
                temp.appendChild(document.createTextNode(tempData));
                press.appendChild(document.createTextNode(pressData));
                discomfort.appendChild(document.createTextNode(disData));

                tableRow.appendChild(timestamp);
                tableRow.appendChild(hum);
                tableRow.appendChild(temp);
                tableRow.appendChild(press);
                tableRow.appendChild(discomfort);

                targetTable.appendChild(tableRow);

            </script> 
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <p>RMIT University Semester 2, 2018 - Programming IoT Assignment 1</p>
        <p>s3558745 Minyoung Cho; s3604496 Alex Ryland</p>
    </div>

</body>

</html>